server:
  servlet:
    context-path: /api
    encoding:
      charset: UTF-8
      force: true

spring:
  application:
    name: corosseum
  
  datasource:
    url: jdbc:postgresql://${DB_URL}:${DB_PORT}/${DB_SCHEMA}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: ${DDL_AUTO}
    show-sql: ${SHOW_SQL}
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

openai:
  base-url: https://api.openai.com/v1
  api-key: ${OPENAI_API_KEY}
  model: gpt-4o-mini
  temperature: 0.7

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger
